<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Login</h4>
                  <p class="card-category">Login Please</p>
              </div>
              <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Username" [(ngModel)]="username" name="user">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Password" type="text" [(ngModel)]="password" name="pass">
                        </mat-form-field>
                      </div>
                    </div>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="authenticate(username, password)">Login</button>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-left" (click)="register(username, password)">Register</button>
                    <div class="clearfix"></div>
                 </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


