<div class="register-item">

  <form #newUserForm="ngForm" class="form form-register">
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label class="user"></mat-label>
          <input matInput  placeholder="Username or email address">
          <mat-hint>Username</mat-hint>
        </mat-form-field>
      </div>
      <div class="column"></div>
      </div>

    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label class="lock" for="login-password"></mat-label>
          <input matInput id="login-password" type="password" placeholder="Password" required [(ngModel)]="password"
            name="password" #userPassword="ngModel" [type]="hide ? 'password' : 'text'" autocomplete="on" />

          <mat-hint>Password</mat-hint>
          <mat-error *ngIf="!userPassword.valid && userPassword.touched">Password is required!</mat-error>
        </mat-form-field>
      </div>
      <div class="column">
        <button mat-flat-button class="passwordbutton" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide" color="primary">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="cmd-btn-row">
          <button mat-raised-button color="primary" [disabled]="!newUserForm.form.valid"
            (click)="onSubmit(newUserForm)">
            <mat-icon>login</mat-icon>
            Login
          </button>
          <button mat-raised-button color="primary" (click)="onRegister()">
            <mat-icon>how_to_reg</mat-icon>
            Register
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
