<div>
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content><img src="../../assets/images/bitmoji.png"/></mat-sidenav-content>
  </mat-sidenav-container>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>
